<div class="container-fluid">
  <div class="row">
    <div class="col-md-6  col-lg-4 mx-auto offset-md-3">
      <form name="formcreate" class="login mx-auto p-5" #formcreate="ngForm" (ngSubmit)="sub(formcreate)">
        <div class="form-group mt-5">
          <label>Email</label>
          <input class="form-control" type="text" ngModel name="username" required>
        </div>
        <div class="form-group mt-5">
          <label>Password</label>
          <input class="form-control" type="password" ngModel name="password" required>
        </div>

        <div class="form-group mt-5">
          <label>Addresses</label>
          <button class="btncls bg-transparent border-0" type="button" (click)="add()"><i class="fas fa-plus-circle"></i></button>
          <input type="text" class="form-control" ngModel name="addres1">
        </div>

        <div *ngFor="let n of name; let i = index;" class="form-group mt-5">
          <label>Addresses</label>
          <button class="btncls bg-transparent border-0" type="button" (click)="remove(n)"><i class="fas fa-times"></i></button>
          <input type="text" class="form-control" ngModel name="{{name + i}}" required>
        </div>

        <button type="submit" class="btn btn-block mt-5" [disabled]="formcreate.invalid">Login</button>
      </form>
    </div>
  </div>
</div>