<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 col-lg-4 mx-auto mt-5">
      <form name="createform" #createform="ngForm" (ngSubmit)="sub(createform)">
        <div class="form-group">
          <label>Name</label>
          <button class="out-non bg-transparent  border-0" type="button" (click)="add()"><i class="fas fa-plus-circle"></i></button>
          <input type="text" class="form-control" ngModel name="thahir" required>
        </div>
        <div *ngFor="let a of arr; let i = index;" class="form-group">
          <label>Name</label>
          <button class="out-non bg-transparent  border-0" type="button" (click)="remove(a)"><i class="fas fa-times"></i></button>
          <input type="text" class="form-control" ngModel name="{{name + i}}" required>      
        </div>
        <button type="submit" class="btn btn-block mt-5" [disabled]="createform.invalid">Login</button>

      </form>
    </div>
  </div>
</div>